.git
.gitmodules
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/

data/cache/
data/available_to_eve/*.h5
data/dev/*.h5
experiment_results/
ray_results/
runs/

rse-for-pprl/
vah-for-pprl/
venv/
