/.ipynb_checkpoints/
/.idea/
*.h5
*.pyc
/runs/*
/experiment_results/*
!/experiment_results/ignore_me
/runs/*
!/runs/ignore_me
/ray_results/*
!/ray_results/ignore_me
/data/cache*
!/data/cache/ignore_me
.env
.DS_Store
analysis/plots/*
analysis/tables/*
analysis/
!/analysis/plots/ignore_me
!/analysis/tables/ignore_me
formatted_results.csv
venv